@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon icon-"], [class*=" icon icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
  color: #4d4d4b;
}
.icon-approveEquipment:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-chevron_down:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e904";
}
.icon-dashboard:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e906";
}
.icon-export:before {
  content: "\e907";
}
.icon-fit_Score:before {
  content: "\e90e";
}
.icon-HamburgerMenu:before {
  content: "\e90f";
}
.icon-locator:before {
  content: "\e910";
}
.icon-monitor_WebDesign:before {
  content: "\e911";
}
.icon-orderConfirmation .path1:before {
  content: "\e912";
}
.icon-orderConfirmation .path2:before {
  content: "\e913";
  margin-left: -1.1669921875em;
}
.icon-orderConfirmation .path3:before {
  content: "\e914";
  margin-left: -1.1669921875em;
}
.icon-orderConfirmation .path4:before {
  content: "\e915";
  margin-left: -1.1669921875em;
}
.icon-products:before {
  content: "\e916";
}
.icon-reminder:before {
  content: "\e917";
}
